<div class="split">

  {{#draggable-column
          width=180
          classNames="split__panel split__panel--sidebar-2 nav"}}

    <div class="split__panel__bd">
      {{#if hasRouteActions}}
        <div class="nav__title">
          <h3>Route</h3>
        </div>
        <ul>
          {{#each sortedRouteActions as |action|}}
            <li><a>{{action.name}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
      {{#if hasControllerActions}}
        <div class="nav__title">
          <h3>Controller</h3>
        </div>
        <ul>
          {{#each sortedControllerActions as |action|}}
            <li><a>{{action.name}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/draggable-column}}

  <div class="split__panel">
    <div class="split__panel__bd">
      <div class="list-view">
        <div class="list-view__header row">
          <div class="cell cell_type_header" data-label="column-title">Name</div>
          <div class="cell cell_type_header spacer"></div>
          <div class="cell cell_type_header" data-label="column-title">Arguments</div>
          <div class="cell cell_type_header spacer"></div>
          <div class="cell cell_type_header" data-label="column-title">Target</div>
          <div class="cell cell_type_header spacer"></div>
        </div>
        <div class="list-view__list-container">
          {{view "actionList" content=detectedActions}}
        </div>
      </div>
    </div>
  </div>
</div>
